* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./background.gif');
  background-repeat: no-repeat;
  background-size: cover;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/* Estilização da barra de rolagem */
body::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
  }
  body::-webkit-scrollbar-track {
    background: transparent; /* Cor de fundo da área da barra de rolagem */
  }
  body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Cor do indicador da barra de rolagem */
    border-radius: 3px; /* Raio de borda do indicador */
  }
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3); /* Cor do indicador da barra de rolagem ao passar o mouse */
  }

.bookcase {
  display: flex;
  justify-content: space-between;
  max-width: 99vw;
  max-height: 99vw;
}