.searchbar-container {
    margin: 1.5%;
    padding: 1%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;


    /* REGRA PARA QUE A API NÃO PASSE DO BOTTOM DA TELA */
    max-height: 65vh;
    overflow-y: auto;
}
/* Estilização da barra de rolagem */
.searchbar-container::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
  }
  .searchbar-container::-webkit-scrollbar-track {
    background: transparent; /* Cor de fundo da área da barra de rolagem */
  }
  .searchbar-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Cor do indicador da barra de rolagem */
    border-radius: 3px; /* Raio de borda do indicador */
  }
  .searchbar-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3); /* Cor do indicador da barra de rolagem ao passar o mouse */
  }


/* Pesquisa na API */
.searchbar {
    margin: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar input{
    margin: 0.3vw;
    padding: 0.7vw;
    padding-left: 9vw;
    padding-right: 9vw;
    text-align: center;
    font-size: 1.7vw;
    font-weight: bold;

    background-color: rgb(220, 227, 234);
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.218);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}
.searchbar button {
    margin: 0.3vw;
    padding: 0.6vw;

    background-color: rgb(220, 227, 234);
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.218);
    backdrop-filter: blur(5px);
    border-radius: 25px;

    cursor: pointer;
    transition: transform 100ms ease-in-out;
}
.searchbar button:hover {
    color: rgb(185, 193, 200);
    background-color: rgb(76, 113, 46);
    transform: scale(1.05);
}
.searchbar img {
    max-width: 2vw;
}


/* Conteúdo da API */
.api {
    padding: 2%;

    background: rgba(255, 255, 255, 0.298);
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 25px;
}


.dexNumbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dexNumbers div {
    margin: 1.5%;
    padding: 1.5%;
    width: fit-content;

    background: rgba(255, 255, 255, 0.665);
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 25px;
}


.api img {
    width: 20vw;
}


.name{
    margin-top: 1.5vw;
}
.name h1{
    margin-bottom: 1.5vw;
    font-size: 3.5vw;
}


.dexColumn{
    display: flex;
    column-count: 2;
    justify-content: space-around;
}
.qualitieDex,
.proportions  {
    display: grid;
}
.qualitieDex div,
.proportions div {
    margin: 0.5vw;
    padding: 1.5vw;

    background: rgba(255, 255, 255, 0.665);
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 25px;
}

.moviments {
    margin: 1.5%;
    padding: 1.5%;

    background: rgba(255, 255, 255, 0.665);
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 25px;
}