.rating-buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.rating-buttons .selected .circle {
    background-color: rgb(52, 54, 57);
    /* cor de fundo para botões selecionados */
}

.rating-buttons .circle {
    width: 20px;
    height: 20px;
    margin: 0.1vw;
    border: 1.5px solid black;
    border-radius: 50%;
    background-color: none;
    /* cor de fundo padrão para círculos */
}