/* Estrutura do site */
.container {
    max-height: 100vw;
    margin: 2%;
}
.websiteTop,
.shelf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


/* Logomarca */
.logomarca {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2%;
}
.logomarca h1 {
    margin-left: 15px;
}


/* Ficha do pokemon do player */
.sheetBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.pokeData {
    display: grid;
    grid-template-columns: 1fr;
    height: 15vh;
}

.primarySkills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.secondarySkills {
    display: grid;
}


/* Parte da API */
.sarch,
.PokedexChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* REGRAS PADRONIZADAS */

/* MARGIN, PADDING, FUNDO E SOMBREAMENTO */
.sheetBox,
.sarch,
.PokedexChart {
    margin: 2%;
    padding: 2%;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 25px;
}